In [21]:
import numpy as np
import pandas as pd
import json

pd.set_option('display.max_columns', None)

In [7]:
with open('../data/raw_data.json') as f:
    data = json.load(f)

In [9]:
len(data)

6547

In [75]:
data[0].keys()

dict_keys(['title', 'subTitle', 'categoryName', 'address', 'locatedIn', 'neighborhood', 'street', 'city', 'postalCode', 'state', 'countryCode', 'plusCode', 'website', 'phone', 'temporarilyClosed', 'permanentlyClosed', 'totalScore', 'isAdvertisement', 'rank', 'placeId', 'url', 'searchPageUrl', 'searchString', 'location', 'scrapedAt', 'reviewsCount', 'reviewsDistribution', 'reviews'])

In [98]:
data[1]['street']

'491 Jurong West Ave 1, Block 491'

In [133]:
res_list = []
for restaurant in data:
    res_dict = {}
    try:
        res_dict['title'] = restaurant['title']
        res_dict['category'] = restaurant['categoryName']
        res_dict['address'] = restaurant['address']
        res_dict['locatedin'] = restaurant['locatedIn']
        res_dict['website'] = restaurant['locatedIn']
        res_dict['street'] = restaurant['street']
        res_dict['city'] = restaurant['city']
        res_dict['postalcode'] = restaurant['postalCode']
        res_dict['countrycode'] = restaurant['countryCode']
        res_dict['website'] = restaurant['website']
        res_dict['phone'] = restaurant['phone']
        res_dict['permclosed'] = restaurant['permanentlyClosed']
        res_dict['ad'] = restaurant['isAdvertisement']
        res_dict['score'] = restaurant['totalScore']
        res_dict['placeid'] = restaurant['placeId']
        res_dict['lat'] = restaurant['location']['lat']
        res_dict['lng'] = restaurant['location']['lng']
        res_dict['reviewsno'] = restaurant['reviewsCount']
        res_dict['onestar'] = restaurant['reviewsDistribution']['oneStar']
        res_dict['twostar'] = restaurant['reviewsDistribution']['twoStar']
        res_dict['threestar'] = restaurant['reviewsDistribution']['threeStar']
        res_dict['fourstar'] = restaurant['reviewsDistribution']['fourStar']
        res_dict['fivestar'] = restaurant['reviewsDistribution']['fiveStar']
    except:
        pass
    res_list.append(res_dict)

In [146]:
res = pd.DataFrame(res_list)

In [149]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6547 entries, 0 to 6546
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6547 non-null   object
 1   category     6547 non-null   object
 2   address      6541 non-null   object
 3   locatedin    3726 non-null   object
 4   website      4755 non-null   object
 5   street       6444 non-null   object
 6   city         6312 non-null   object
 7   postalcode   6309 non-null   object
 8   countrycode  6542 non-null   object
 9   phone        5154 non-null   object
 10  permclosed   6542 non-null   object
 11  ad           6542 non-null   object
 12  score        5800 non-null   float64
 13  placeid      6542 non-null   object
 14  lat          6533 non-null   float64
 15  lng          6533 non-null   float64
 16  reviewsno    6533 non-null   float64
 17  onestar      6530 non-null   float64
 18  twostar      6530 non-null   float64
 19  threestar    6530 non-null   float64
 20  fourstar     6530 non-null   float64
 21  fivestar     6530 non-null   float64
dtypes: float64(9), object(13)
memory usage: 1.1+ MB

In [176]:
res.head()

,title,category,address,locatedin,website,street,city,postalcode,countrycode,phone,permclosed,ad,score,placeid,lat,lng,reviewsno,onestar,twostar,threestar,fourstar,fivestar
0,Shang Palace,Cantonese restaurant,"22 Orange Grove Rd, Singapore 258350",Shangri-La Hotel Singapore,shangri-la.com,22 Orange Grove Rd,Singapore,258350,SG,+65 6213 4473,False,False,4.3,ChIJXU9FcvQZ2jER7JzFxTOvf9A,1.311137,103.826590,162.0,7.0,5.0,14.0,49.0,87.0
1,KNS RESTAURANT,Restaurant,"491 Jurong West Ave 1, Block 491, Singapore 64...",None,None,"491 Jurong West Ave 1, Block 491",Singapore,640491,SG,None,False,False,3.0,ChIJZRgFnAEP2jERKjUYAYIq4_Y,1.349476,103.725870,7.0,3.0,0.0,0.0,2.0,2.0
2,Al Afrida Restaurant,Restaurant,"65 Yung Kuang Rd, Singapore 610065",None,None,65 Yung Kuang Rd,Singapore,610065,SG,+65 9087 9207,False,False,2.7,ChIJVcTbzycP2jERsdR9HVEL2fY,1.332373,103.722887,22.0,9.0,2.0,3.0,3.0,5.0
3,Princess Terrace Authentic Penang Food,Asian fusion restaurant,"403 Havelock Rd, Singapore 169632",Copthorne King's Hotel Singapore on Havelock,millenniumhotels.com,403 Havelock Rd,Singapore,169632,SG,+65 6318 3168,False,False,4.0,ChIJ4ZcCMXYZ2jER1oQXTKk-iEw,1.288343,103.836668,240.0,11.0,11.0,42.0,82.0,94.0
4,Starbucks,Coffee shop,"#B1, 8 College Ave West, 01 University Town, E...","University Town, NUS",starbucks.com.sg,"#B1, 8 College Ave West, 01 University Town, E...",Singapore,138608,SG,+65 6910 1127,False,False,4.2,ChIJ3SWtPfUa2jERQaXuDgcJ4uc,1.305365,103.773165,126.0,6.0,3.0,15.0,36.0,66.0

In [193]:
data[0]['reviews'][0]['name']

'W San L'

In [206]:
rev_list = []
for restaurant in data:
    for review in restaurant['reviews']:
        rev_dict = {}
        rev_dict['title'] = restaurant['title']
        rev_dict['placeid'] = restaurant['placeId']
        rev_dict['revname'] = review['name']
        rev_dict['revid'] = review['reviewerId']
        rev_dict['revdate'] = review['publishedAtDate']
        rev_dict['revtext'] = review['text']
        rev_dict['stars'] = review['stars']
        rev_list.append(rev_dict)

In [207]:
rev = pd.DataFrame(rev_list)

In [226]:
rev.groupby('revname')['revid'].count().sort_values(ascending=False)

revname
H2 O               154
steven lim         144
YuLei Liu          124
Andrew Goh         116
FoodieDirectory    114
                  ...
lee123               0
Mandy                0
Hikari88             0
AshAzmn89            0
onnion               0
Name: revid, Length: 95640, dtype: int64